<!--
<form action="<%= users_path%>" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_username">Username:</label>
  <input id="user_username" type="text" name="user[username]"><br>
  <label for="user_email">Email:</label>
  <input id="user_email" type="email" name="user[email]]"><br>
  <label for="user_password">Password:</label>
  <input id="user_password" type="password" name="user[password]"><br>
  <button type="submit">Go!</button>
</form>
<%= form_tag("/users", method: "post") do %>

  <%= label_tag(:username)%>
  <%= text_field_tag(:username, nil , placeholder: "Binh")%>
  <%= label_tag(:email)%>
  <%= email_field_tag(:email)%>
  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>
  <%= submit_tag("Gooo!")%>
<% end %>


-->
<%= form_for(@user , html: {class: "niffty_form"} ) do |f| %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
<% end %>


